@charset "utf-8";
/* CSS Document */

#news-detail-content {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 16px;
	padding-bottom: 16px;
}


.news-detail-title {
	font-family:'Times New Roman';
	font-size:14pt;
	font-weight:bold;
}

#news-detail-image {
	float: left;
	width: 250px;
	height: 200px;
	border: 1px solid #DDDDDD;
	padding: 1px;
	margin-right: 10px;
	margin-bottom: 6px;
}

#news-detail-comment {
	float: left;
	width: 502px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
}

.news-detail-comment-title {
	font-family:'Times New Roman';
	font-size:14pt;
	font-weight:bold;
	margin-bottom: 20px;
}

.news-detail-comment-topic-title {
	font-family:'Times New Roman';
	font-size:12pt;
	font-weight:bold;
}