@import url("home/hotnews.css");
@import url("home/folder.css");
@import url("home/left.css");
@import url("folder/left.css");
@import url("news/left.css");
@import url("fwblueprint.css");
@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFFFFF; 
	font-size: 12px; 
	color:#333333; 
	text-align:left;
	line-height:1.5; 
	font-family:Arial,"Lucida Grande",Helvetica,Tahoma,Verdana;
	padding: 0px;
	margin: 0px;
}

div {
	position: relative;
}

p {
	margin-bottom:5px;
	margin-top:0px;
}

a:focus, a:hover {color:#c00;text-decoration:none}
a {color:#147;text-decoration:none;}


#container {
	width: 970px;
	margin: auto;
}
.navi {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("src/nav_bg.gif");
	background-position:0 0;
	background-repeat:repeat-x;
	height:35px;
	margin: 0;
}
#menutop {
	margin-bottom: 4px;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 6px;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 1);
}
#top {
	padding: 0px;
	width: 100%;
	margin: 0px;
	height: 46px;
        background-color: #E4E4E4;
/*	background-image: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4);*/
	border-bottom-color:#C6C6C6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	margin-bottom: 14px;
}
#content {
	margin-top: 7px;
	margin-bottom: 4px;
	float: left;
	width: 100%;
}
#left {
	position: relative;
	width: 170px;
	float: left;
}
#right {
	float: right;
	width: 780px;
}
#footer {
	width: 100%-16px;
	height: 50px;
	border-top: 1px solid #DDDDDD;
	text-align: center;
	padding: 8px;
}
.clear {
	clear: both;
}
.selectfolder {
	width:200px;
}
#advancesearch {
	margin-bottom: 8px;
}
.topinformation {
	font-size: 12px;
	font-weight: none;
	margin-right: 20px;
}
/*View article by editor*/
#rightviewarticle {
	width: 250px;
	float: right;
}


#viewarticle {
	width: 520px;
	float: left;
}

#viewarticle .title {
	float: left;
}

#viewarticle .blockrow-right {
	margin-left: 100px;
}
/*End biew article by editor*/

/*Message*/
.errorMessage {
    color: red;
}
ul.errorMessage {
   
}

.shortinfor {
    font-size: 13px;
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    text-align: right;
    float: right;
}