@import url("fwblueprint.css");
@import url("home/hotnews.css");
@import url("home/folder.css");
@import url("home/left.css");
@import url("folder/left.css");
@import url("news/left.css");

@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFFFFF; 
	font-size: 12px; 
	color:#000000; 
	text-align:left;
	line-height:1.5; 
	font-family:Arial,"Lucida Grande",Helvetica,Tahoma,Verdana;
}
a:focus, a:hover {color:#c00;text-decoration:none}
a {color:#147;text-decoration:none;}
div {
	position: relative;
}
p {
	margin-bottom:5px;
	margin-top:0px;
}

/**/
.menu ul {margin:0;padding:0;list-style:none;font-weight:bold;color:#cdecf8;position:absolute;display:block;}
.menu li {float:left;margin-right:10px;padding-top:8px;height:27px;}
.menu li span {display:block;padding-right:10px;background:url(src/nav_delim.gif) no-repeat right;}
.menu .last span {background:none;}
.menu .parent a {background:url(src/navi_drop_icon.gif) no-repeat right;padding-right:10px;}
.menu li a {color:#cdecf8;display:block;font-weight:bold;}
.menu li:hover a {color:white;}
.menu li:hover .parent a {background:url(src/navi_drop_icon_active.gif) right no-repeat;}
.menu li ul {background:#1088AF;width:140px;display:block;margin:9px 0 0 0;padding:0;
font-family:Tahoma, Geneva, sans-serif;display:none;}
.menu li li span {background:none;}
.menu li li a {color:white;font-weight:normal;font-size:11px;}
.menu li:hover ul {display:block;}
.menu li li {margin:0;float:none;padding:4px 0 4px 10px;height:auto;border-bottom:1px solid #54A9C5;}
.menu li li:hover {background:#03506A;}
.menu .nonbor {border-bottom:none;}
/**/
#container {
	width: 970px;
	margin: auto;
}
#top {
    margin-bottom: 10px;
}
.navi {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("src/nav_bg.gif");
	background-position:0 0;
	background-repeat:repeat-x;
	height:35px;
	padding-left: 10px;
}
#content {
	margin-top: 7px;
	float: left;
	width: 100%;
}
#left {
	width: 512px;
	float: left;
	margin-right: 12px;
}
#leftsearch {
	width: 784px;
	float: left;
	margin-right: 6px;
}
#middle {
	float: left;
	width: 265px;
}
#right {
	float: right;
	width: 175px;
	text-align:right;;
}
#footer {
	width: 100%-16px;
	height: 50px;
	border-top: 1px solid #DDDDDD;
	margin-top:10px;
	text-align: center;
	padding: 8px;
}
.clear {
	clear: both;
}

.search-condition {
	padding: 12px;
}

