@charset "utf-8";
/* CSS Document */
/**/
.menu ul {margin:0;padding:0;list-style:none;font-weight:bold;color:#cdecf8;position:absolute;display:block;}
.menu li {float:left;margin-right:10px;padding-top:8px;height:27px;}
.menu li span {display:block;padding-right:10px;background:url(src/nav_delim.gif) no-repeat right;}
.menu .last span {background:none;}
.menu .parent a {background:url(src/navi_drop_icon.gif) no-repeat right;padding-right:10px;}
.menu li a {color:#cdecf8;display:block;font-weight:bold;}
.menu li:hover a {color:white;}
.menu li:hover .parent a {background:url(src/navi_drop_icon_active.gif) right no-repeat;}
.menu li ul {background:#1088AF;width:140px;display:block;margin:9px 0 0 0;padding:0;z-index:1;
             font-family:Tahoma, Geneva, sans-serif;display:none;}
.menu li li span {background:none;}
.menu li li a {color:white;font-weight:normal;font-size:11px;}
.menu li:hover ul {display:block;}
.menu li li {margin:0;float:none;padding:4px 0 4px 10px;height:auto;border-bottom:1px solid #54A9C5;}
.menu li li:hover {background:#03506A;}
.menu .nonbor {border-bottom:none;}
/**/

.showgrid {
    background: url(src/grid.png);
}
.border {
    border: 1px solid #DDDDDD;
}

/*Class table*/
.table {
    background-color: #DDDDDD;
    border: none;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
.table tr {
    background-color: #FFFFFF;
}
.table td {
    padding: 4px;
    vertical-align: top;
    /*border-left: 1px solid #DDDDDD;*/
    border-top: 1px solid #DDDDDD;

    font-size: 11px;
    font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
.table tr:last-child td {
    border-bottom: 1px solid #DDDDDD;
}
.table tr td:last-child {
    /*border-right: 1px solid #DDDDDD;*/
}

.table .head {
    background-color: #DFDFDF;
    padding: 4px;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}

/*End class table*/

/*form*/
select {
    background-color:#FFFFFF;
    border:1px solid #bbb;
    border-style:solid;
    border-width:1px;
    font-size:12px;
    padding-bottom:2px;
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    margin: 0px;
}
select:hover {
    border-color: #666;
}
input[type=text], input[type=password], input.text, input.title {
    background-color:#fff;
    border:1px solid #bbb;
    font-size: 12px;
    height:16px;
}
textarea {
    background-color:#fff;
    border:1px solid #bbb;
    font-size: 12px;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color:#666;
}
input.text, input.title {
    padding: 2px;
}
input.title {
    font-size:1.5em;
    height: 24px;
}

input[type=submit], input[type=button], input[type=reset] {
    background:url("src/generic_button.png") repeat-x scroll left top #E9E9E9;
    border:1px solid #A8A8A8;
    color:#424242;
    cursor:pointer;
    font-size:11px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    height:2em;
    margin: 0px;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    background-color: #EFEFEF;
    color: #417394;
}
input.checkboxsimple {
    margin:0;
    padding:0;
    margin-right: 4px;
    vertical-align:middle;
}
fieldset {
    border:1px solid #CCCCCC;
    margin:0 0 1.5em;
    padding:0 1.4em 1.4em;
}
legend {
    font-size:1.2em;
    font-weight:bold;
}
.ordertext {
    width: 35px;
    text-align: center;
}
/*end form*/

/*message*/
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.errorMessage {
    color:red;
}
.successMessage {
    color:blue;
}
/*end message*/

/*Box type 1*/
.boxtype1-title {
    background:url("src/title.gif") repeat scroll 0 0 transparent;
    height:20px;
    color:white;
    font-weight:bold;
    padding-left:12px;
    padding-top: 3px;
    text-shadow:1px 1px 1px rgba(10, 10, 10, 1);
}
.boxtype1-content {
    background-color:white;
    border:1px solid #DDDDDD;
    margin:0;
}
.listcategory {
    list-style:none outside none;
    margin:0px;
    padding:0px;
}
.listcategory li {
    border-bottom:1px solid #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.listcategory li:last-child {
    border-bottom: none;
}
/*End box type 1*/

/*Block section*/
.blocksubhead {
    background:none repeat-x scroll 0 0 #DFDFDF;
    padding:4px 12px;
    border-top:medium none;
    font-weight:bold;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
    margin:0;
}
.blockrow-content, .blockrow-first, .blockrow-last {
    padding-top: 10px;
    padding-bottom: 6px;
    margin-left: 18px;
    margin-right: 18px;
}
.blockrow-content, .blockrow-last {
    border-top:1px solid #CEDFEB;
}
.blockrow-first {
    border-top:none;
}
.blockrow-content label, .blockrow-first label, .blockrow-last label {
    width: 200px;
    float: left;
}
.blockrow-right {
    float: none;
    display: block;
    margin-left: 200px;
    color:#777777;
}

.blockrow-content h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0px;
    padding: 0;
}
/*End block row*/
/*Description*/
.description {
    color:#777777;
}
/*End description*/

/*Table manage*/
.checkselect {
    width: 20px;
}
.maintext {
    font-weight: bold;
}
.managefunction {
    widht: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}
.leftmanagefunction {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}

.rightmanagefunction {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}

.rightfunction {
    float: right;
}

input.buttonfunction {
    font-size: 11px;
}
.checkboxfunction {
    float: left;
    margin-right: 4px;
}


.managetable-header {
    background-color:#D9D9FF;
    border-color: #DDDDDD;
}

.doactionacticles {
    font-weight: normal;
    visibility: hidden;
}
.managetable-row-showaction tr:hover .doactionacticles{
    visibility: visible;
}
/*End table manage*/

/* Tab */
.tab1 ul {
    padding:0;
    list-style:none;
    position: relative;
    margin: 0;
}
.tab1 li {
    float: left;
    border-right:1px solid #000000;
    padding-left: 6px;
    padding-right: 6px;
}
.tab1 li:last-child {
    border-right: none;
}
.tab1 li:first-child {
    padding-left: 0px;
}
.tab1 .selected {
    color: #000000;
    font-weight: bold;

}
/* End tab */

/* Content news*/
.contentnews {
    padding: 12px;
}
/* End content news*/
.imagefloat {
    float: left;
    border: none;
    margin-right: 4px;
}
.imagefloat-box {
    width: 50px;
}
.dateright {
    float: right;
    padding-right: 4px;
    font-size: 11px;
    color: #969696;
}
.paddingall-1 {
    padding: 8px;
}
.boxborder {
    border:1px solid #DDDDDD;
}

.boxborder-text {
    border:1px solid #DDDDDD;
    padding: 4px;
}

#right h2 {
    margin-top: 0px;
    color: #464646;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size:22px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:italic;
    text-shadow:0 1px 0 #FFFFFF;
}

.datetime {
    font-size: 10px;
    color:#919191;
}

.hotnewssign {
    color: #C10000;
    font-size: 10px;
}

.versionsign {
    font-size: 10px;
    color: #0000B9;
}

.draftnewssign {
    font-size: 10px;
    color: #999;
}

/*Dashboard*/
.dashboard-left {
    float: left;
    width: 49%;
}
.dashboard-right {
    float: right;
    width: 49%;
}

.listinfor label {
    width: 80px;
    float: left;
}
.listinfor {
    list-style: none;
}
/*End Dashboard*/

/*Statistic*/
.propertiefield {
    float: left;

}
.valuefield {
    float: right;
    font-weight: bold;
}
/*End statistic*/

/* Advertisement */
.schedule-ads {
    width: 100%;
}


.schedule-ads th {
    width: 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #EEEEEE;
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
}

.schedule-ads tr {
    height: 100px;
}

.schedule-ruler td{
    height: 30px;
}

.schedule-ads td, th {
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.schedule-ads tr td:last-child, .schedule-ads tr th:last-child {
    border-right: none;
}

.schedule-ads tr:first-child td, .schedule-ads tr:first-child th {
    border-top: none;
}

/* End advertisement */

.image_border {
    border: 1px solid #DDDDDD;
    padding: 1px;
}

.schedule_box {
    padding: 4px;
    width: 100px;
    height: 130px;
    border: 1px solid #000;
    float: left;
    margin: 8px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
}

.schedule_box_title {

    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #cbcbcb;
    text-shadow: rgba(200, 200, 200, 0.796875) 2px 2px 2px;
}

.schedule_box_content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.schedule_box_available {
    color: #0000B9;
}

.schedule_box_notavailable {
    color: red;
}

.seccode {
    text-shadow: rgba(200, 200, 200, 0.796875) 2px 2px 2px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.relationposts {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    
}

.relationposts a {
    color: #919090;
    text-decoration: underline;
}